[Desktop Entry]
Name=Wirecloak
Comment=Easily manage and use WireGuard VPN configurations
Exec=wirecloak
Icon=preferences-system-network-proxy
Type=Application
Categories=System;Security;Qt;
Terminal=false
StartupNotify=true
